:root {
  height: 100%;
}

body {
  margin: 1rem;
  height: calc(100% - 2rem);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: url('../img/debug_grid_16.png'); */

  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-info: #17a2b8;
}

.text-outline {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#root {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}

select,
input {
  font-size: 1em;
  height: 1.5em;
  box-sizing: border-box;
}

input[type='checkbox'] {
  height: auto;
}

label {
  font-weight: bold;
}

.btn {
  height: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  border: 0 solid black;
  background-color: var(--color-secondary);
  color: white;
  border-radius: 0.25em;
}

.btn--info {
  background-color: var(--color-primary);
  color: white;
}

.btn--warning {
  background-color: var(--color-warning);
  color: black;
}

.btn--danger {
  background-color: var(--color-danger);
  color: white;
}

.btn--sm {
  height: 1.5rem;
  font-size: 0.8em;
  padding: 0.25rem 0.75em;
}

.btn--lg {
  height: 2.5rem;
  font-size: 1.333rem;
  padding: 0.5rem 1rem;
}

.btn:disabled {
  background-color: silver;
  color: gray;
  border-color: gray;
  cursor: default;
}

.Switch {
  display: inline-flex;
}
.Switch__Option {
  padding: 4px 6px;
}
a.Switch__Option {
  text-decoration: none;
}

.Switch__Option--selected {
  font-weight: bold;
  border-bottom: 2px solid silver;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.info {
  color: var(--color-info);
  border: 1px solid var(--color-info);
  padding: 0.5em;
  margin: 0.5em 0;
}

.error {
  color: var(--color-danger);
  border: 1px solid var(--color-danger);
  padding: 0.5em;
  margin: 0.5em 0;
}

img, svg {
  vertical-align: middle;
}

article h1,
article h2,
article h3 {
  text-transform: capitalize;
}

article *:target,
article *.active {
  background: #bde4ff;
}

.Recipe {
  list-style-type: none;
}

.RecipeItems {
  width: 100%;
  max-width: 420px;
}

.RecipeItems__value {
  text-align: right;
  width: 10%;
}

.CraftList {
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 640px) {
  .CraftList {
    column-count: 2;
  }
}
@media screen and (min-width: 960px) {
  .CraftList {
    column-count: 3;
  }
}

.damage--physical { }
.damage--fire { color: red; }
.damage--frost { color: blue; }
.damage--poison { color: #0c0; }
.damage--lightning { color: cyan; }
.damage--spirit { color: lightslategray; }

table .value {
  text-align: right;
}