body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  vertical-align: middle;
}

article h1,
article h2 {
  text-transform: capitalize;
}

article *:target,
article *.active {
  background: #bde4ff;
}

.damage--physical { }
.damage--fire { color: red; }
.damage--frost { color: blue; }
.damage--poison { color: #0c0; }
.damage--lightning { color: lightcyan; }
.damage--spirit { color: springgreen; }
