:root {
  height: 100%;
}

:root:not(.theme--dark) {
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-modded: teal;

  --color-background: 255, 255, 255;
  --color-text: #000;
  --color-text-light: #555;
  --color-highlight: #bef4;
}

body {
  margin: 1rem;
  height: calc(100% - 2rem);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(var(--color-background));
  color: var(--color-text);
  /* background-image: url('../img/debug_grid_16.png'); */
}

:link {
  color: var(--color-info);
}
:visited {
  color: var(--color-primary);
}

@media screen and (prefers-color-scheme: dark) {
  :root:not(.theme--light) {
    --color-primary: #5865F2;
    --color-secondary: #4F545C;
    --color-danger: #ED4245;
    --color-info: #1AAFF4;
    --color-modded: #0cc;
    --color-background: 54, 57, 63;
    --color-text: #ddd;
    --color-text-light: #999;
    --color-highlight: #46a4;
  }

  :root:not(.theme--light) > body {
    background-color: rgb(var(--color-background));
    color: var(--color-text);
  }
}

:root.theme--dark {
  --color-primary: #5865F2;
  --color-secondary: #4F545C;
  --color-danger: #ED4245;
  --color-warning: #ffc107;
  --color-info: #1AAFF4;
  --color-modded: aqua;
  --color-background: 54, 57, 63;
  --color-text: #ddd;
  --color-text-light: #999;
  --color-highlight: #46a4;
}

:root.theme--dark > body {
  background-color: #32353B;
  color: var(--color-text);
}

.text-outline {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#root {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}

select, input, button {
  background: rgb(var(--color-background));
  color: var(--color-text);
}

select, input, button {
  font-size: 1em;
  height: 1.5em;
  box-sizing: border-box;
  border: 1px solid #888;
}

input[type='checkbox'],
input[type='radio'] {
  height: auto;
  width: 1rem;
}

label {
  font-weight: bold;
}

sub, sup {
  line-height: 1;
}

.btn {
  height: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  border: 0 solid black;
  background-color: var(--color-secondary);
  color: white;
  border-radius: 0.25em;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
}

.btn--info {
  background-color: var(--color-info);
  color: white;
}

.btn--warning {
  background-color: var(--color-warning);
  color: black;
}

.btn--danger {
  background-color: var(--color-danger);
  color: white;
}

.btn--sm {
  height: 1.5rem;
  font-size: 0.8em;
  padding: 0.25rem 0.75em;
}

.btn--lg {
  height: 2.5rem;
  font-size: 1.333rem;
  padding: 0.5rem 1rem;
}

.btn:disabled {
  background-color: silver;
  color: var(--color-text-light);
  border-color: var(--color-text-light);
  cursor: default;
}

.disabled {
  color: var(--color-text-light);
}

.Switch {
  display: inline-flex;
}
.Switch__Option {
  padding: 4px 6px;
}
a.Switch__Option {
  text-decoration: none;
}

.Switch__Option--selected {
  font-weight: bold;
  border-bottom: 2px solid var(--color-text-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  margin: 0.5rem 0;
}

.nobr {
  white-space: nowrap;
}

.quote {
  font-style: italic;
  padding: 0.5rem 1rem;
}

.info {
  color: var(--color-info);
  border: 1px solid var(--color-info);
  padding: 0.5em;
  margin: 0.5em 0;
}

.warning {
  color: var(--color-warning);
  border: 1px solid var(--color-warning);
  padding: 0.5em;
  margin: 0.5em 0;
}

.error {
  color: var(--color-danger);
  border: 1px solid var(--color-danger);
  padding: 0.5em;
  margin: 0.5em 0;
}

img, svg {
  vertical-align: middle;
}

article h1,
article h2,
article h3 {
  text-transform: capitalize;
}

article *:target,
article *.active {
  background: var(--color-highlight);
}

.Recipe {
  list-style-type: none;
}

.RecipeItems {
  width: 100%;
  max-width: 420px;
}

.RecipeItems__value {
  text-align: right;
  width: 10%;
}

.CraftList {
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 640px) {
  .CraftList {
    column-count: 2;
  }
}
@media screen and (min-width: 960px) {
  .CraftList {
    column-count: 3;
  }
}

table .value {
  text-align: right;
}

/* .damage--physical { } */
.damage--fire { color: #f00; }
.damage--frost { color: #00f; }
.damage--poison { color: #0c0; }
.damage--lightning { color: #0ff; }
.damage--spirit { color: #789; }

@media screen and (prefers-color-scheme: dark) {
  :root:not(.theme--light) .damage--frost { color: #08f; }
  :root:not(.theme--light) .damage--spirit { color: #ace; }
}
:root.theme--dark .damage--frost { color: #08f; }
:root.theme--dark .damage--spirit { color: #ace; }
