.Inventory {
  position: relative;
  width: 590px;
  height: 308px;
  background-image: url('../img/inventory@2x.png');
  background-size: 590px 308px;
  /* background-color: #503A2B; */
}

.Inventory__container {
  --gap: 5px;
  --width: 8;
  --height: 4;
  position: absolute;
  overflow: hidden;
  left: 22px;
  top: 16px;
  width: 100%;
  height: 100%;
}

.Inventory__Item {
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: #0004;
  border-radius: 4px;
}

.Inventory__Item--equipped {
  background-color: #5D97CC;
}

.InvItem__Icon {
  position: absolute;
  left: 0;
  top: 0;
}

.InvItem__Icon--shadow {
  left: 2px;
  top: 2px;
  filter: brightness(0) blur(2px) opacity(0.75);
}

.InvItem__quality {
  position: absolute;
  right: 4px;
  top: 0;
  color: orange;
  cursor: default;
  pointer-events: none;
}

.InvItem__stack {
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 0;
  color: white;
  text-align: center;
  cursor: default;
  pointer-events: none;
}

.InvItem__durability {
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 4px;
  height: 4px;
  background: #0008;
}

.InvItem__durability-value {
  height: 100%;
  background-color: white;
}

.Inventory-extra {
  display: inline-flex;
  margin-inline-end: 0.5rem;
  margin-block-end: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
}

.Inventory-extra .Inventory__Item {
  position: relative;  
}

.InvTooltip {
  position: absolute;
  background: #000C;
  color: white;
  width: 320px;
  box-sizing: border-box;
  padding: 0.5rem;
}
.InvTooltip__Header {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: rgb(255, 200, 100);
  text-align: center;
}
.InvTooltip__DLC {
  color: aqua;
}
.InvTooltip__value {
  color: orange;
}
.InvTooltip__extra {
  color: yellow;
}
.InvTooltip__Set {
  margin-top: 0.5rem;
}
.InvTooltip__SetHeader {
  color: aqua;
}
.InvTooltip__SetItems {
  padding-inline-start: 0.5rem;
}
.InvTooltip__SetItem--equipped {
  color: white;
}
.InvTooltip__SetItem--unequipped {
  color: gray;
}

/* EpicLoot */
.Inventory__Item--EpicLoot.Inventory__Item--equipped {
  background: #0004;
}
.Inventory__Item--EpicLoot.Inventory__Item--equipped::before {
  content: ' ';
  display: block;
  position: absolute;
  background-image: url('../img/EpicLoot/Equipped.png');
  background-position: center;
  inset: -6px;
}
.Inventory__Item--EpicLoot.Inventory__Item--EpicLoot-Generic .InvItem__Icon:not(.InvItem__Icon--shadow) {
  background: #0004;
}
.Inventory__Item--EpicLoot.Inventory__Item--EpicLoot-Magic .InvItem__Icon:not(.InvItem__Icon--shadow) {
  background: transparent url('../img/EpicLoot/MagicItemBg.png') no-repeat center;
}
.Inventory__Item--EpicLoot.Inventory__Item--EpicLoot-Rare .InvItem__Icon:not(.InvItem__Icon--shadow) {
  background: transparent url('../img/EpicLoot/RareItemBg.png') no-repeat center;
}
.Inventory__Item--EpicLoot.Inventory__Item--EpicLoot-Epic .InvItem__Icon:not(.InvItem__Icon--shadow) {
  background: transparent url('../img/EpicLoot/EpicItemBg.png') no-repeat center;
}
.Inventory__Item--EpicLoot.Inventory__Item--EpicLoot-Legendary .InvItem__Icon:not(.InvItem__Icon--shadow) {
  background: transparent url('../img/EpicLoot/LegendaryItemBg.png') no-repeat center;
}

.InvTooltip__EpicLoot {
  margin-top: 0.5rem;
}
.InvTooltip--EpicLoot .InvTooltip__value,
.InvTooltip--EpicLoot .InvTooltip__extra {
  color: #ACD7E5;
}

.EpicLoot--Magic { color: #00A7F8 !important; }
.EpicLoot--Rare { color: #FFFF75 !important; }
.EpicLoot--Epic { color: #CF78FE !important; }
.EpicLoot--Legendary { color: #16EAAB !important; }