.SearchBlock {
  position: relative;
  font-size: 16px;
}

.SearchControls {
  display: flex;
  flex-direction: row;
}

.SearchControls_Input {
  flex-grow: 1;
}

.SearchControls input {
  font-size: 1em;
}

.SearchResults {
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
  position: absolute;
  width: 100%;
  background: var(--color-background);
  left: -0.5em;
  outline: 1px solid;
  font-feature-settings: "tnum" 1;
  z-index: 2;
}

.SearchResults > li {
  margin: 0.25em 0;
}
.SearchResults .active {
  background: #bde4ff;
  color: #000; /* for dark theme */
}

.SearchItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25em;
}

.SearchItem__recipe {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 4px;
  margin-top: -4px;
}

@media screen and (min-width: 480px) {
  .SearchItem__recipe {
    width: auto;
    border-left: 1px solid gray;
    padding-left: 8px;
    margin: 0 0 0 4px;
  }
}

.SearchItem a {
  flex-grow: 1;
}
