.SearchBlock {
  position: relative;
  font-size: 16px;
}

.SearchControls {
  display: flex;
  flex-direction: row;
}

.SearchControls_Input {
  flex-grow: 1;
}

.SearchControls input {
  font-size: 1em;
}

.SearchResults {
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
  position: absolute;
  width: 100%;
  background: white;
  left: -0.5em;
  outline: 1px solid;
  font-feature-settings: "tnum" 1;
}

.SearchResults > li {
  margin: 0.25em 0;
}
.SearchResults .active {
  background: #bde4ff;
}

.SearchItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

.SearchItem a {
  flex-grow: 1;
}
