.TopBar {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  margin-bottom: 1rem;
}

.TopBar__home {
  /* to match input's margin */
  margin-top: 4px;
}

.TopBar__search {
  flex: 1 0 auto;
  margin: 0 0.5rem;
}

.TopBar__settings {
  flex: 0 1 auto;
}
