.Weather {
  position: relative;
  overflow-y: scroll;
  flex-grow: 1;
}

.Weather__controls {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  padding: 8px 0;
}

.Weather__control > * {
  vertical-align: middle;
}

.Weather__header {
  position: sticky;
  top: 40px;
  padding-bottom: 8px;
  background: white;
  z-index: 1;
  display: flex;
  font-weight: bold;
  flex-direction: row;
}

.Weather__biome {
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Weather__Event {
  position: absolute;
  display: flex;
  width: 100%;
  line-height: 32px;
}

.Weather__time {
  width: 50px;
  padding: 0 1%;
  text-align: center;
  flex-shrink: 0;
}

.Weather__time--day {
  background: rgba(255, 255, 0, 0.2);
}

.Weather__time--night {
  background: rgba(0, 0, 0, 0.2);
}

.Weather__details {
  flex-grow: 1;
  display: flex;
}

.Weather__details > * {
  flex-grow: 0;
  width: calc(100% / 7);
}

.Weather__type {
  overflow: hidden;
  word-break: break-all;
}

.Weather__type--Clear,
.Weather__type--Heath_clear {
  background: rgba(255, 255, 0, 0.2);
}
.Weather__type--Twilight_Clear {
  background: rgba(255, 255, 128, 0.2);
}
.Weather__type--Misty {
  background: rgba(128, 128, 128, 0.2);
}
.Weather__type--DeepForest_Mist {
  background: rgba(192, 192, 255, 0.2);
}
.Weather__type--Darklands_dark,
.Weather__type--Crypt,
.Weather__type--SunkenCrypt {
  background: rgba(0, 0, 0, 0.2);
}
.Weather__type--GDKing,
.Weather__type--Eikthyr,
.Weather__type--GoblinKing,
.Weather__type--Bonemass,
.Weather__type--Moder {
  background: rgba(255, 0, 192, 0.2);
}
.Weather__type--LightRain {
  background: rgba(192, 192, 255, 0.2);
}
.Weather__type--Rain {
  background: rgba(128, 128, 192, 0.2);
}
.Weather__type--ThunderStorm {
  background: rgba(64, 64, 128, 0.2);
}
.Weather__type--SwampRain {
  background: rgba(0, 128, 0, 0.2);
}
.Weather__type--Ashrain {
  background: rgba(255, 192, 0, 0.2);
}
.Weather__type--Snow,
.Weather__type--Twilight_Snow,
.Weather__type--Twilight_SnowStorm,
.Weather__type--SnowStorm {
  background: rgba(255, 255, 255, 0.2);
}

.Weather__type,
.Weather__biome {
  text-align: center;
}

.Weather__tombstone {
  position: absolute;
  width: 100%;
  height: 1px;
}

@media screen and (max-width: 639px) {
  .Weather__description { display: none; }
}

@media screen and (max-width: 959px) {
  .Weather__full-description { display: none; }
}
